@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.navbar-fixed{
  @apply fixed z-[9999] bg-slate-900/70 backdrop-blur-md border-b border-slate-800;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-slate-300 transition duration-300;
}

.hamburger-active > span {
  @apply bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45 transition;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

@keyframes float {
  0%,100% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes blob {
  0%,100% { transform: translate(-50%,0) scale(1); }
  50% { transform: translate(-50%,0) scale(1.08); }
}

.animate-blob {
  animation: blob 6s ease-in-out infinite;
}

#typing-skill::after {
  content: "|";
  animation: blink 1s infinite;
  margin-left: 5px;
}

@keyframes blink {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}